.results {
    display: flex;
    gap: 20px;
}

.menu {
    background-color: white;
    color: black;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
.stars {
    color: rgb(255, 209, 48);
}
.placeHolder {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.placeHolder > div {
    width: calc((100% - 60px) / 4);
}


@media screen and (max-width: 1250px) {
    .placeHolder > div {
        width: calc((100% - 40px)/3);
    }
}

@media screen and (max-width: 600px) {
    .placeHolder > div {
        width: calc((100% - 20px)/2);
    }
}

@media screen and (max-width: 420px) {
    .placeHolder > div {
        width: 100%;
    }
}